@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 60 100% 98%;
    --foreground: 60 71% 4%;
 
    --border: 60 5% 80%;
    --input: 60 5% 80%;
 
    --primary: 150 46% 46%;
    --primary-foreground: 60 100% 98%;
 
    --secondary: 34 91% 75%;
    --secondary-foreground: 60 71% 4%;

    --muted: 60 15% 90%;
    --muted-foreground: 60 3% 43%;

    --info: 240 100% 50.2%;
    --info-foreground: 0 0% 98%;

    --success: 142 71% 45%;
    --success-foreground: 0 0% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 60 100% 98%;
 
    --ring: 150 46% 46%;
 
    --radius: 0.5rem;
  }

  /*.dark {*/
  /*  --background: 240 10% 3.9%;*/
  /*  --foreground: 0 0% 98%;*/

  /*  --popover: 240 10% 3.9%;*/
  /*  --popover-foreground: 0 0% 98%;*/

  /*  --card: 240 10% 3.9%;*/
  /*  --card-foreground: 0 0% 98%;*/

  /*  --border: 240 3.7% 15.9%;*/
  /*  --input: 240 3.7% 15.9%;*/

  /*  --muted: 240 6% 10%;*/
  /*  --muted-foreground: 240 5% 65%;*/
  /*}*/
}